body {
  font-family: "Roboto", sans-serif;
  color: #434455;
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 0.02em;
  background-color: #fff;
  margin: 0 auto;
}

a {
  text-decoration: none;
}

ul,
ol {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

button {
  cursor: pointer;
  font-family: inherit;
  color: currentColor;
}

input {
  font-family: inherit;
}

button:hover,
button:focus {
  color: #4d5ae5;
}

.container {
  max-width: 1158px;
  min-width: 320px;
  padding: 0 15px;
  margin: 0 auto;
}

section {
  padding: 96px 0;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
}

img {
  display: block;
}

/* --------------- HEADER - Навігація сайта ------------------  */

.nav_menu,
address {
  display: none;
}

.header {
  box-shadow: 0 1px 6px 0 rgba(46, 47, 66, 0.08),
    0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 2px 1px 0 rgba(46, 47, 66, 0.08);
  border-bottom: 1px solid #e7e9fc;
}

.elementy_header {
  display: flex;
  align-items: center;
}

.nav_header {
  display: flex;
  margin-right: auto;
}

.main_logo {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.16667;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #4d5ae5;
  padding: 16px 0;
}

.main_logo_span {
  color: #2e2f42;
}

@media (min-width: 768px) {
  .nav-menu-menu-mobile-svg-box {
    display: none;
  }

  .header {
    border-bottom: 1px solid #e7e9fc;
    box-shadow: 0 1px 6px 0 rgba(46, 47, 66, 0.08),
      0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 2px 1px 0 rgba(46, 47, 66, 0.08);
  }

  .elementy_header {
    justify-content: space-between;
  }

  .nav_header {
    margin-right: 0;
  }

  .main_logo {
    padding-top: 25.5px;
    margin-right: 120px;
  }

  .nav_menu {
    display: flex;
    gap: 40px;
  }

  .nav_menu_link {
    font-weight: 500;
    font-size: 16px;
    line-height: 150%;
    letter-spacing: 0.02em;
    padding-top: 24px;
    color: #404bbf;
    position: relative;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    display: block;
  }

  .nav_menu_link:hover {
    color: #404bbf;
  }

  .nav_menu_link:focus {
    color: #404bbf;
  }

  .active-page::after {
    width: 100%;
    content: "";
    position: absolute;
    left: 0;
    bottom: -26px;
    height: 4px;
    background-color: #404bbf;
    border-radius: 2px;
  }

  .address {
    font-style: normal;
    display: flex;
    padding: 16px 0;
  }

  .address-list {
    padding: 0;
    display: flex;
    flex-direction: column;
    gap: 12px;
  }

  .address_link {
    font-weight: 400;
    font-size: 12px;
    line-height: 1.16667;
    letter-spacing: 0.04em;
    color: #434455;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  .address_link:hover {
    color: #404bbf;
  }

  .address_link:focus {
    color: #404bbf;
  }
}

@media (min-width: 1158px) {
  .active-page::after {
    bottom: -18px;
  }

  .address-list {
    flex-direction: row;
    gap: 40px;
  }
}

/* ---------- FIRST SECTION -------------  */

.section_top {
  background-image: linear-gradient(
      rgba(46, 47, 66, 0.7),
      rgba(46, 47, 66, 0.7)
    ),
    url(../images/Dark-bg-mobile.jpg);
  background-color: #2e2f42;
  background-repeat: no-repeat;
  padding: 72px 0;
  background-size: cover;
  background-position: center;
  margin: 0 auto;
}

.section_top_title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-align: center;
  color: #fff;
  max-width: 216px;
  margin: 0 auto;
}
.section-top-button {
  background-color: #4d5ae5;
  font-weight: 500;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 0.04em;
  color: #fff;
  display: block;
  min-width: 169px;
  height: 56px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  margin: 72px auto 0;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.section-top-button:hover {
  background-color: #404bbf;
}
.section-top-button:focus {
  background-color: #404bbf;
}

@media (min-width: 768px) {
  .section_top {
    background-image: linear-gradient(
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url(../images/Dark-bg-tablet.jpg);
    background-color: #2e2f42;
    padding: 112px 0;
  }

  .section_top_title {
    font-size: 56px;
    line-height: 1.07143;

    max-width: 496px;
  }

  .section-top-button {
    margin: 36px auto 0;
  }
}

@media (min-width: 1158px) {
  .section_top {
    background-image: linear-gradient(
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url(../images/people-office-1.jpg);

    padding: 188px 0;
    max-width: 1440px;
  }

  .section_top_title {
    line-height: 107%;
    letter-spacing: 0.02em;
  }
}

/* ---------------- SECOND SECTION -------------------*/

.section-second-svg-box {
  display: none;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.section_second_list {
  display: flex;
  flex-direction: column;
  gap: 72px;
  padding-left: 0px;
  margin: 0;
}

.section-second-subtitle {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11111;
  letter-spacing: 0.02em;
  text-align: center;
  color: #2e2f42;
  margin-bottom: 8px;
}

.section_second_descr {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
}

@media (min-width: 768px) {
  .section_second_list {
    flex-direction: row;
    flex-wrap: wrap;
    row-gap: 24px;
    column-gap: 72px;
  }

  .section_second_li {
    flex-basis: calc((100% - 24px) / 2);
  }
}

@media (min-width: 1158px) {
  .section_second_list {
    flex-wrap: nowrap;
    gap: 24px;
  }

  .section_second_li {
    flex-basis: calc((100% - 72px) / 4);
  }

  .section-second-svg-box {
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid #8e8f99;
    border-radius: 4px;
    width: 264px;
    height: 112px;
    padding: 24px 100px 24px 100px;
    background-color: #f4f4fd;
    margin-bottom: 8px;
  }

  .section-second-subtitle {
    font-weight: 500;
    font-size: 20px;
    line-height: 120%;
    letter-spacing: 0.02em;
  }

  .section_second_descr {
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    letter-spacing: 0.02em;
  }
}

/* THIRD SECTION - START */

.section_third {
  background-color: #f4f4fd;
}

.section_third_main_title {
  font-weight: 700;
  font-size: 36px;
  line-height: 111%;
  letter-spacing: 0.02em;
  text-align: center;
  color: #2e2f42;
  margin-bottom: 72px;
  text-transform: capitalize;
}

.section_third_list {
  display: flex;
  flex-direction: column;
  gap: 72px;
  margin: 0;
  padding-left: 0;
}

.section_third_li {
  border-radius: 0px 0px 4px 4px;
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
  background-color: #fff;
}

@media (min-width: 768px) {
  .section_third_list {
    flex-direction: row;
    flex-wrap: wrap;
    column-gap: 24px;
    row-gap: 64px;
    /*margin: 0 93px;*/
  }

  .section_third_li {
    flex-basis: calc((100% - 24px) / 2);
  }
}

@media (min-width: 1158px) {
  .section_third_list {
    flex-direction: row;
    flex-wrap: nowrap;
    column-gap: 24px;
  }

  .section_third_li {
    flex-basis: calc((100% - 72px) / 4);
  }
}

.staff {
  padding: 32px 0;
}

.section_third_title {
  font-weight: 500;
  font-size: 20px;
  line-height: 120%;
  letter-spacing: 0.02em;
  text-align: center;
  color: #2e2f42;
  margin-bottom: 8px;
}

.section_third_descr {
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 0.02em;
  text-align: center;
  color: #434455;
}

.section-third-svg-socialbox-list {
  display: flex;
  justify-content: center;
  gap: 24px;
  padding-top: 8px;
  padding-left: 16px;
  padding-right: 16px;
}

.section-third-svg-item {
  width: 40px;
  height: 40px;
}

.section-third-svg-item-link {
  width: 100%;
  height: 100%;
  background-color: #4d5ae5;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.section-third-svg-item-link:hover {
  background-color: #404bbf;
}

.section-third-svg-item-link:focus {
  background-color: #404bbf;
}

.section-third-svg-socialbox-icon {
  fill: #f4f4fd;
}

/*FOURTH SECTION - START */

.section_fourth {
  padding: 120px 0 120px 0;
}

.section_fourth_main_title {
  font-weight: 700;
  font-size: 36px;
  line-height: 111%;
  letter-spacing: 0.02em;
  text-align: center;
  color: #2e2f42;
  text-transform: capitalize;
  margin-bottom: 72px;
}

.section_fourth_list {
  display: flex;
  flex-direction: column;
  gap: 48px;
  padding-left: 0px;
  margin: 0;
}

.section_fourth_li {
  /*width: calc((100% - 48px) / 3);*/
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

@media (min-width: 768px) {
  .section_fourth_list {
    flex-direction: row;
    flex-wrap: wrap;
    column-gap: 24px;
    row-gap: 72px;
  }

  .section_fourth_li {
    flex-basis: calc((100% - 24px) / 2);
  }
}

@media (min-width: 1158px) {
  .section_fourth_list {
    flex-direction: row;
    flex-wrap: wrap;
    column-gap: 24px;
    row-gap: 48px;
  }

  .section_fourth_li {
    flex-basis: calc((100% - 48px) / 3);
  }
}

.section_fourth_li:hover {
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
}

.section_fourth_li:hover .section-fourth-item-img-descr {
  transform: translateY(0%);
}

.section-fourth-item-img {
  position: relative;
  overflow: hidden;
}

.section-fourth-item-img-descr {
  position: absolute;
  top: 0;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #f4f4fd;
  padding: 40px 32px;
  background-color: #4d5ae5;
  height: 100%;
  width: 100%;
  transform: translateY(100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.name_app {
  padding: 32px 16px;
  border: 1px solid #e7e9fc;
  border-top: none;
}

.section_fourth_title {
  font-weight: 500;
  font-size: 20px;
  line-height: 120%;
  letter-spacing: 0.02em;
  color: #2e2f42;
  margin-bottom: 8px;
}

.section_fourth_descr {
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 0.02em;
  color: #434455;
}
