.icon {
  display: inline-block;
  width: 1em;
  height: 1em;
  stroke-width: 0;
  stroke: currentColor;
  fill: currentColor;
}

/* ==========================================
Single-colored icons can be modified like so:
.icon-name {
  font-size: 32px;
  color: red;
}
========================================== */

.icon-menu-mobile {
  width: 1.125em;
}

.icon-check {
  width: 1.25em;
}

.icon-mail {
  width: 1.3330078125em;
}

.icon-send {
  width: 1.2001953125em;
}
